build/
build-native/
out/
dist/
*.user
*.autosave
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
*.exe
*.dll
*.obj
*.o
*.a
*.lib
*.res
*.pdb
*.ilk
*.zip
/*.manifest
.vs/
.idea/
*.pro.user
Thumbs.db
.DS_Store
